.body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-txt);
}

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --secondary-accent-color: #ffffff;
    --hero-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
    --hover-btn-color: #188ce8;
    --header-logo-text-color: #000000;
    --border-header-color: #ececec;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
    --portfolio-item-border-color: #eeeeee;
    --fill-icon-color: #afb1b8;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}


button {
    cursor: pointer;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

.img {
    display: block;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
}

.page-header-port {
    background-color: red;
}

.web {
    color: #2196F3;
    text-decoration: none;
}

.list-index-foot {
    margin-bottom: 9px;
}

.address-item {
    display: block;
    margin-top: 9px;
}

/* header*/

.page-header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    outline: 2px solid #F5F5F5;
}

.container-index-head {
    display: flex;
    align-items: center;
}

.nav-index-head {
    display: flex;
    align-items: center;
}

.nav-index-head-list {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.naw-index-contact {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.header-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    display: block;
}

.header-list:hover,
.header-list:focus {
    color: #2196F3;
}

.current {
    color: #2196F3;
}

.contact-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-style: normal;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
}

.main-section {
    background-color: #2F303A;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
}
/* шапка героя */
.overlay {
    background-color: var(--hero-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img.hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.main-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 216px;
    padding: 10px 32px;
}
/* Переваги. Потім сховати заголовок h2 */
.benefits {
    padding: 94px 0;

}

.benefits-container {

}

.order-list {
    display: flex;
    gap: 30px;
}

.benefits-point {
    flex-basis: calc((100% - 30px) / 4);
}

.benefits-img {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px;
    background-color: var(--secondary-bg-color);
    margin-bottom: 30px;
}

.hidden-header {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.section-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

/*-------- Чим ми займаємося------- */
.we-work {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    
}

.we-work-list {
    display: flex;
    gap: 30px;
}

/* --------Команда--------*/
.team-section {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    gap: 30px;
}

.ourteam-index {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.pading-team {
    padding: 30px 0;
    font-size: 0;
}



.team-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.working {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    
}

/* ------FOOTER-----FOOTER------FOOTER------FOOTER------FOOTER------ */

.footer{ 
    background-color: var(--hero-bg-color);
    color: var(--secondary-accent-color);
    padding: 60px 0;
}


.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-web {
    text-decoration: none;
    color: #2196F3;
}


.address-footer-index {
    margin-top: 20px;
}

.address-list {

}

.footer-mail
.footer-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-mail-tel-color);
    font-style: normal;
}

.address {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;

}

.address:hover,
.address:focus {
    color: #2196F3;
}


.footer-link :hover .footer-link :focus {
    color: #2196F3;
}

/* ------PORTFOLIO------- */
/* ---HEADER---HEADER---HEADER----HEADER-----*/
.page-header-port {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    outline: 2px solid #F5F5F5;
}

.por-cont-header {
    display: flex;
    justify-content: space-between;
}

.port-head-container {
    display: flex;
    align-items: center;
}

.head-list-portfolio {
    display: flex;
    gap: 50px;
}

.header-list-port {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.header-list-port:hover,
.header-list-port:focus {
    color: #2196F3;
}

.current {
    color: #2196F3;
}

.contact-list-port {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact-link-port {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-style: normal;
}

.contact-link-port:hover,
.contact-link-port:focus {
    color: #2196F3;
}

/* ----MAIN----MAIN----MAIN-----MAIN----MAIN---- */

.main-color-port {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hidden-header-port {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button-list-port {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    background-color: #F5F4FA;
    color: var(--title-text-color: #212121);
    cursor: pointer;
    padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--secondary-accent-color: #ffffff);
    background-color: var(--accent-color: #2196F3);
}

.port-product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.card-link {

}

.portfolio-owner {
    padding: 20px 24px;
    border: 1px solid var(--portfolio-item-border-color);
    border-top: none;
}


.port-img-name {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.portfolio-img {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;

    /* font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--title-text-color); */
}

.portfolio-parag {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 20px;
    padding-left: 24px;

    /* font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color); */
}

/* -----FOOTER------FOOTER------FOOTER-----FOOTER-------FOOTER------ */
.footer-portfolio {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-logo-portfolio {
    margin-top: 20px;
}

.footer-address-port {
    margin-bottom: 9px;
}

.address-footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}

.address-footer:hover,
.address-footer:focus {
    color: #2196F3;
}


.portfolio-link:hover,
.portfolio-link:focus {
    color: #2196F3;
}